
include navbar
#diary-form-container
	div.container.well.span8
		h3 Diaries
		table.table.table-bordered
			thead
				tr
					th(style='width:40px') #
					th(style='width:100px') Name
					th(style='width:180px') Description
					th(style='width:180px') Link
			tbody
			- for (var i = 0; i < diaries.length; i++)
				tr
					td= i+1
					td= diaries[i].diary_name
					td= diaries[i].description
					td 
						a(href='/diary/'+diaries[i].url)= "/"+diaries[i].url+"/"
	div.body.well.span8
		h3 Create a new diary
		form( method="post")#diary-form
			label Diary Name 
			input(type="text", name="diary_name", id='diary_name-tf').span4.required
			label Description
			input(type="text", name="diary_desc", id='diary_desc-tf').span4.required
			label Diary Url
			| www.mhatan.com/diary/
			input(type="text", name="diary_url", id='diary_url-tf').span3.required
			div.clear-fix
			button(type="submit")#btn-post.btn.btn-primary
				i.icon-pencil.icon-white
				| Create
		div.clear-fix

