- user = typeof(udata) != 'undefined' ? udata : {}
input(type='hidden', value= user.user_id)#userId

//head#navbar.navbar-fixed-top.navbar-inverse.navbar
div
    div#navbar.navbar-static-top.navbar.navbar-inner
        nav
            ul.pull-right.nav
                li <a href="/html/">HTML</a>
                li <a href="/css/">CSS</a>
                li <a href="/js/">JavaScript</a>
                li <a href="/logout/">Logout</a>

#entry-form-container
    div.body.well.span8
        h1= title
        label Write Something!
        input(type="date",name="entry_date",id='entry_date-tf')
        input(type="time",name="entry_time",id='entry_time-tf')
        input(type="text",name="entry_title",id='entry_title-tf')
        textarea(rows="4",style ="width:610px; resize:none;" ,type="text", name="entry_text", id='entry_text-tf').span4.required
        button()#btn-post.btn.btn-primary
            i.icon-pencil.icon-white
            | Post
        div.clear-fix

    div.body#entries


script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/js/controllers/entryController.js')
script(src='/js/views/entry.js')