- user = typeof(udata) != 'undefined' ? udata : {}
input(type='hidden', value= user.user_id)#userId

include navbar

#entry-form-container
    div.body.well.span8
        h1= title
        label#entry_prompt Write Something!
        input(type="date",name="entry_date",id='entry_date-tf')
        input(type="number",name="entry_month",id='entry_month-tf',min='1',max='12',placeholder='Month').hide()
        input(type="number",name="entry_year",id='entry_year-tf',min='2000',max='3000',placeholder='Year').hide()
        input(type="time",name="entry_time",id='entry_time-tf')
        input(type="text",name="entry_title",id='entry_title-tf',placeholder='Title')
        textarea(rows="4",style ="width:610px; resize:none;" ,type="text", name="entry_text", id='entry_text-tf',placeholder="Today I ...").span4.required
        button()#btn-post.btn.btn-primary
            i.icon-pencil.icon-white
            | Post
        button#btn-pic.btn
            i.icon-picture
            | Add Pictures        
        div#radio_btns
            | Entry Type:
            input(type="radio",name="entry_type",value="T",checked)
            | T
            input(type="radio",name="entry_type",value="D")
            | D
            input(type="radio",name="entry_type",value="M")
            | M
            input(type="radio",name="entry_type",value="Y")
            | Y

        div.clear-fix
    div#entriesmode.tabbable
        ul.nav.nav-tabs
            li.active
                a(href="#tab1",data-toggle="tab")
                    | Daily Entries
            li
                a(href="#tab2",data-toggle="tab")
                    | Monthly Entries
            li
                a(href="#tab3",data-toggle="tab")
                    | Yearly Entries
        div.tab-content
            div#tab1.tab-pane.active
                ul.pager
                    li#prevday.previous
                        a(href="#")
                            |&larr; Previous Day
                    li#nextday.next(style="float:right")
                        a(href="#")
                            |Next Day &rarr;
                div.body.well.entries#entries
            div#tab2.tab-pane
                ul.pager
                    li#prevmonth.previous
                        a(href="#")
                            |&larr; Previous Month
                    li#nextmonth.next(style="float:right")
                        a(href="#")
                            |Next Month &rarr;
                div.body.well.entries#entries_month
            div#tab3.tab-pane
                ul.pager
                    li#prevyear.previous
                        a(href="#")
                            |&larr; Previous Year
                    li#nextyear.next(style="float:right")
                        a(href="#")
                            |Next Year &rarr;
                div.body.well.entries#entries_year

include modals/add-pictures
script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
script(src='/vendor/bootstrap-modal.js')
script(src='/vendor/bootstrap-transition.js')
script(src='/vendor/bootstrap-tab.js')
script(src='/js/controllers/entryController.js')
script(src='/js/controllers/picController.js')
script(src='/js/views/entry.js')