div
    div#navbar.navbar-static-top.navbar.navbar-inner
        nav
            ul.nav
                li <a href="/about/">About</a>
                li <a href="/logout/">Logout</a>
            img(src="/img/mhatan_white.png").pull-left
