div
    div#navbar.navbar-static-top.navbar.navbar-inner
        nav
            ul.nav
                li <a href="/about/">About</a>
                li <a href="/diary/">Diaries</a>
                li <a href="/logout/">Logout</a>
            a(href="/home/")
                img(src="/img/mhatan_white.png").pull-left
