#user-profile-container
	h1 hello


div.container(style='margin:20px')
	table.table.table-bordered.table-striped
		thead
			tr
				th(style='width:40px') #
				th(style='width:180px') Name
				th(style='width:180px') Description
				th(style='width:180px') Category
				th(style='width:140px') Display Order
				th(style='width:180px') Permissions
				th(style='width:230px') Diary Created
				th(style='width:230px') Diary Edited
