raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%

// login form 
li{
	float left
}
a{
	line-height 30px
	display block
	font-weight bold
	text-align center
}
a:hover{
	background-color #7A991A
}
#radio_btns{
	font-weight small
	padding-top 20px
	input{
		margin-left 8px
	}
}
#navbar{
	min-width 500px
	ul{
		float right
	}
	img{
		width 100px
		float left
	}
}
#greeting-container{
	width 1000px
	margin 120px auto auto auto
	#image{
		width 250px
		margin 20px 120px 20px 120px
		float left
		h3{
			text-align center
		}
		p{
			margin-top 40px
		}
	}

}
#login-container{
	float left
	width 340px
	label{
		margin 15px 0 5px 5px
	}
	button{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	.checkbox{
		margin 23px 0 0 180px
	}
	.btm-links{
		text-align center
		margin-top 10px
	}
	#create-account{
		float:right
		margin-right:13px
	}	
	#forgot-password{
		float:left
		margin-left:10px
	}
}

#entry-form-container{
	width 610px
	margin 10px auto auto

	label{
		margin 15px 0 5px 5px
	}
	button{
		width 120px
		padding 6px 10px 6px 10px
		float right
		margin-top 10px
		margin-left 10px
	}
	#entries,#entries_month,#entries_year{
		h2{
			text-align center
		}
		h3{
			text-align center
		}
		p{
			word-wrap break-word
			width 610px
			text-indent 65px
		}
		button{
			width 15px
			padding 0 0 0 0
			margin-top 0px
		}
	}
	#entriesmode{
		width 660px
	}
	#entry_date-tf{
		width 120px
		text-align center
	}
	#entry_time-tf{
		width 80px
	}
	#entry_month-tf{
		text-align center
		width 50px
	}
	#entry_year-tf{
		text-align center
		width 70px
	}
	#entry_title-tf{
		width 350px
		float right
		text-align left
		font-weight bold
	}
}

#diary-form-container{
	width 610px
	margin 10px auto auto

	label{
		margin 15px 0 5px 5px
	}
	button{
		width 120px
		padding 6px 10px 6px 10px
		float right
		margin-top 10px
	}
	#diaries{
		p{
			word-wrap break-word
			width 610px
		}
		button{
			width 15px
			padding 0 0 0 0
			margin-top 0px
		}
	}
}

// account form on signup & home page //

#account-form-container
	width 460px
	margin 100px auto
#country-list
	width 280px
.modal-form-errors li
	raiseText()
	color #D8000C

// retrieve password window //

.pictures{
	max-height 160px
	overflow auto
	img{
		height 100px
		max-width 200px
		float left
		margin 5px 5px 5px 5px
	}
}
#add-pictures{
	width 452px
	margin -200px 0 0 -232px
	img{
		height 50px
		max-width 200px
		float left
		margin 5px 5px 5px 5px
	}
	#url_list{
		button{
			margin-left -10px
			float left
			border none 0
		}
	}
}

.modal-single-input{
	width 452px	
	margin -200px 0 0 -232px
	form{
		raiseText()
		margin-bottom 0		
 		button{
			width 80px
			top 213px
			position absolute
		}
		#cancel{
			right 110px
		}
		#submit{
			right 18px
		}
	}
	.modal-body{
		height 140px
		overflow hidden	
		padding-bottom 0
	}	
	.modal-footer{
		height 20px
	}	
}

.modal-alert{
	width 310px
	margin -200px 0 0 -150px
}
    
// logged-in page //    
    
#btn-logout
	width 100px
	top 1px
	right 8px
	position absolute
	 
// support pages //

#print
	padding 20px
#four04
	padding:20px	
    
// general shared rules //
.clear-fix
	clear both
.well
	margin-left 0
	border 1px solid #CCC
.form-horizontal .control-label
	width 80px
.form-horizontal .controls
	margin-left 120px
.form-horizontal .form-actions
	padding 17px 0 0 270px
label
	raiseText()	
.subheading
	raiseText()
	margin-top 3px
button i
	padding-left 8px	